In [2]:
import pandas as pd

In [4]:
chipotle_df = pd.read_csv('../datasets/Chipotle Sales EDA/chipotle.tsv', sep="\t")
chipotle_df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [22]:
item_revenue = chipotle_df.groupby(['item_name', 'item_price'])["quantity"].sum().reset_index()
item_revenue = item_revenue.sort_values(by='quantity', ascending=False)
most_ordered = item_revenue.iloc[0]
most_ordered

item_name     Chips and Guacamole
item_price                 $4.45
quantity                      349
Name: 129, dtype: object

In [23]:
Top_selling_total_revenue = most_ordered.loc['item_price'] * most_ordered.loc['quantity']
Top_selling_total_revenue

'$4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 $4.45 '